body{
    background-color: black;
}

h1{
    color: white;
}

div{
    text-align: center;
}

button{
    height:2.5em ;
    width: 5em;
    border: none;
    color: white;
}

button:hover{
    cursor: pointer;
}

h1{
    height: 3cm;
}

.start-btn{
    background-color: green;
}

.pause-btn{
    background-color: lightblue;
}

.stop-btn{
    background-color: red;
}